.icono-carrito {
	margin: 35px 25px 25px 25px;
}
.badge {
	background-color: rgb(94, 80, 60);
	font-weight: bold;
	border-radius: 7px;
	height: 17px;
	width: 17px;
	text-align: center;
	margin-bottom: -6px;
	margin-left: 6px;
}
