.tarjetas {
	gap: 15px;
	text-align: center;
}
.tarjetas-producto {
	display: flex;
	flex-wrap: wrap;
	background-color: rgb(224, 224, 221);
	justify-content: center;
	border-radius: 5px;
	margin: 15px;
	font-size: smaller;
}
